/* CSS Inheritance */
/* same element priority h2 > div > body */
body{
    font-family: monospace;
    line-height: 1.5em;
}
/* not all the elements inherit from the body or div. need to be the same group. */
div{
    color: chartreuse;
    border: 3px solid black;
}
h2{
    color: darkblue;
}
