/* CSS Selectors Intro
Basic Selectors
Descendant Child Selectors
First Line And First Letter
:Hover Pseudo-Class Selector
Link Pseudo-Class Selectors
Root Preudo-Class Selectors */


/* 01. Basic Selectors */
/* * {
    color: crimson;
}
#heading {
    font-size: 40px;
    text-transform: uppercase;
    color: darkblue;
}
.heading {
    font-size: 20px;
    text-transform: capitalize;
    color:darkseagreen;
}
p {
    letter-spacing: 15px;
} */


/* 02. Descendant and Child Combinators */
/* .header h1 {
    color: firebrick;
} */
/* class is more specific, even if it is on the top/bottom, it will still rewrite other two */
/* .header > h1 {
    color: lawngreen;
} */
/* class's direct child h1, only in the first div. So only the first one changes the colour. The second class in the second div has the direct child ul */
/* div h1 {
    color: deeppink;
} */
/* include all the h1 in the div */
/* div > h1 {
    color: deepskyblue;
} */
/* div is the ancestor and h1 is the descendant, adding '>' (point) means they need to directly related*/


/* 03. ::first-line ::first-letter */
/* p::first-line {
    font-weight: bold;
}
p::first-letter {
    font-size: 3rem;
} */


/* 04. :hover */
/* p:hover {
    color: lightseagreen;
}
.header:hover {
    background: blue;
    color: white;
}
a:hover {
    text-decoration: none;
} */


/* 05. :link :visited (clicked on) :hover (point):active (press, not click) */
/* a:link {
    color: tomato;
}
a:visited {
    color: teal;
}
a:hover {
    color: yellowgreen;
}
a:active {
    color: turquoise;
} */

/* 06. :root root element of the document html element
general styles
css variables */
:root {
    /* background: tomato; */
    font-size: 150%;
}
h1 {
    font-size: 3rem;
}
.absolute {
    font-size: 24px;
}
.responsive {
    font-size: 1.5rem;
}
/* 1 rem === 16px and it is responsive to the root and brower setting. The absolute one is not going to change */
