/* CSS Units - layout of projects
Pixels, Font-Size, Width, Height
Percent Values
Em Values
Rem Values
VH And VW
Default Browser Syles
Calc Function
*/

/* 01. Pixels - measurement, Font-Size, Width, Height */
/* pixels number - absolute */
/* h1 {
    font-size: 60px;
    width: 200px;
    height: 300px;
    background:chartreuse;
} */


/* 02. percent values - relative percentage needs to depend on the parent parameter */

/* .outer {
    width: 200px;
    height: 200px;
    background: crimson;
}

.inner {
    width: 50%;
    height: 50%;
    background: cyan;
} */


/* 03. em - RELATIVE depends on parent
1em = 16px default browser style;
1em = base value
If change the browser setting (font-size) or the parent (div) size, the relative one will change accordingly, but not the absolute one */

/* div {
    font-size: 10px;
}
.relative {
    font-size: 2em;
}
.absolute {
    font-size: 32px;
} */


/* 04. rem - RELATIVE depends on root
1rem = 16px default browser style;
rem doesn't follow the parent(div), it follows the root(html) or browser setting */

/* html {
    font-size: 32px;
}
div {
    font-size: 40px;
}
.relative {
    font-size: 1.5rem;
}
.absolute {
    font-size: 48px;
} */


/* 05.
vh - view height - percent of the screen
vw - view width - percent of the screen 
change size according to the screen size*/
/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.banner {
    width: 50vw;
    height: 50vh;
    background: cyan;
}
.header {
    width: 100vw;
    height: 100vh;
    background: crimson;
} */


/* 06. default browser styles and google devTools */

/* h2 {
    color: crimson;
    font-size: 60px;
} */


/* 07. calc()
perform math operations + - * /
mix and match values 
make sure there is space between values and symbols, ex 100vh - 100px, not 100vh-100px*/

* {
    margin: 0;
}
.navbar {
    background: darkcyan;
    height: 100px;
    color: deepskyblue;
    font-size: 3rem;
}
.banner {
    background: red;
    min-height: calc(100vh - 100px);
}
/* calc(100vh - 100px) setting view height minus the navbar height to help the better fit of the screen view */