/* Colour Properties */
/* Colour Background-colour */
/* Colour names 140, there are 140 colour names we can use */

/* #first { 
    color: chartreuse;
    background-color: black;
} 
#second {
    color: crimson;
    background:darksalmon;
} */

/* can use background for both colour or image */


/* RGB Red Green Blue 0-255 */
/* #first {
    color:rgb(255, 0, 0);
    background-color:rgb(0, 0, 0);
}
#second {
    color:rgb(0, 255, 0);
    background: rgb(255, 255, 255);
}
body {
    background: rgb(73,7,23);
} */


/* RGBA 0-1 opacity/transparency*/

/* #first {
    color:rgb(255, 0, 0);
    background:rgba(0, 0, 0, 0.5);
}
#second {
    color:rgb(0, 255, 0);
    background: rgba(0, 0, 0, 0.25
    );
}
#three {
    color:rgb(0, 255, 255);
    background: rgba(0, 0, 0, 0
    );
}
#four {
    color:rgb(70, 80, 90);
    background: rgba(0, 0, 0, 1
    );
}
body {
    background: rgba(20,100,23, 0.34);
} */


/* 
HSL
HEX values #RRGGBB
123456789 A(10) B(11) C(12) D(13) E(14) F(15)
    10 11 12 13 14 15
    #FF0000 - RED
    #00FF00 - GREEN
ref- coolors.co
 */

#first {
    color:#41ead4;
    background:#b388eb;
}
#second {
    color:#fff;
    background:#00ff00;
}
#three {
    color:#0000ff;
    background: #f15025;
}
#four {
    color:#f234ad;
    background: #000;
}

